/* body {
    background-image: url(msit1.jpg);
    background-size: cover;
  } */
  .i {
    height: 24px;
    border-radius: 40px;

}

.link {
    color: white;
}

.sl {
    height: 500px;
}

.noti {
    background-image: url(msit1.jpg);
    background-size: cover;
}
.last{
    background-color: black;
}
.lines{
    color: white;
}
a{
    text-decoration: none;
}