body {
    /* background-image: url(msit1.jpg); */
    /* background-size: cover; */
    margin: 0px;
  }

  .i {
    height: 24px;
    border-radius: 40px;

  }

  .link {
    color: white;
  }

  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .h-custom {
    height: calc(100% - 73px);
  }

  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }

  .colors {
    color: white;
  }

  .thum {
    height: 30px;
    padding: 0px;
  }

  .thum1 {
    /* height: fit-content; */
    padding: 0px;
  }

  .background {
    /* height: max-content; */
    /* width: 100%; */
    /* background-image: url(msit1.jpg); */
    /* background-size: cover; */
    /* opacity: 0.95; */
  }